@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: oklch(0.6569 0.196 275.75);
  --color-secondary: oklch(0.7464 0.1603 335.88);
}

body {
  background-color: var(--fallback-b1,oklch(var(--b1)/1));
  color: var(--fallback-bc,oklch(var(--bc)/1));
}

/* Transitions for list */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
